<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h2 class="text-5xl text-center font-bold my-5">About us</h2>
  <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati maiores nobis? Aperiam excepturi unde incidunt debitis veniam! Ut libero a suscipit? Facere vel, animi officia, id corporis magni perspiciatis tenetur eaque aspernatur facilis fugit itaque sint rerum totam earum laboriosam? Delectus, fuga. Nesciunt pariatur natus facilis est quisquam accusantium.</p>
</section>