<header class="bg-zinc-900 flex flex-col text-center md:flex-row md:text-left p-20 gap-3">
  <div>
    <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
    <p class="py-4 text-2xl">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo,
      maiores.
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400"> Start now</button>
  </div>
  <img src="images/fingerprint.svg" alt="fingerprint" class="w-80" />
</header>
