<section class="flex flex-col-reverse gap-y-10 py-10 md:flex-row md:p-20">
  <div class="flex-1 grid grid-cols-2">
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 m-auto">
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 m-auto">
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 m-auto">
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 m-auto">
      <p class="mt-4">Dev Managment</p>
    </div>
  </div>

  <div class="flex flex-1 flex-col gap-y-10">
    <h2 class="text-5xl font-bold text-center md:text-left">Lorem, ipsum dolor.</h2>
    <p class="text-3xl text-zinc-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas suscipit pariatur quisquam omnis qui reprehenderit?</p>
  </div>
</section>