<footer class="bg-zinc-900 py-10 mt-4">
  <div
    class="container mx-auto px-10 flex gap-5 flex-col md:flex-row justify-evenly text-center md:text-left"
  >
    <div>
      <h4 class="font-bold text-xl mb-5">Site Map</h4>
      <div class="flex gap-3 justify-center">
        <a href="/astro-landing/">Home</a>
        <a href="/astro-landing/about">About</a>
      </div>
    </div>
    <div>
      <h4 class="font-bold text-xl mb-5">Site Map</h4>
      <p>Lorem ipsum dolor sit.</p>
      <p>Lorem ipsum dolor sit.</p>
    </div>
    <div>
      <h4 class="font-bold text-xl mb-5">Social</h4>
      <div class="flex flex-wrap gap-3 justify-center">
        <a href="/astro-landing/about">Facebook</a>
        <a href="/astro-landing/about">Instagram</a>
        <a href="/astro-landing/about">Twitter</a>
        <a href="/astro-landing/about">TikTok</a>
      </div>
    </div>
  </div>
</footer>
